<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Pick a location!</title>
  <meta name="author" content="Daniel Guilak">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <%= stylesheet_link_tag "normalize", "skeleton" %>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="eleven columns" style="margin-top: 25%">
          <h4>Welcome, <%= @user.name %>!</h4>
          <h5>Pick your store so we can help you hire:</h5>
          <input type="text" class="u-full-width" placeholder="Store or location ..." id="store-search"></textarea>

          <div id='locations-container'></div>
      </div>
    </div>
  </div>

<script type="text/template" id="location-template">
    <!-- Have to escape otherwise it thinks it's ERB -->
    <%%= search_str %>
    <button>Select location</button>
</script>

<%= javascript_tag do %>
    var bootstrappedLocations = <%= @locations.to_json.html_safe %>
    var bootstrappedUser = <%= @user.to_json.html_safe %>
<% end %>
</script>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
